extends common/layout

block layout-content
  section#products
    h1 Products
    .crud-buttons 
          a(href="/addProduct") Add
          a(href="/updateProduct") Edit 
          a(href="/deleteProduct") Delete
    .product-list
      each product in products
        .product
          img(src=product.image, alt=product.title, width="150")
          h3= product.title
          p Price: $#{product.price}
